<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>



  <div style="display: flex; margin: 10px 20px 10px 20px;">
    <div style="border: 1px solid #8285b7; padding: 10px; margin: 10px;">
      <h4>TEST</h4>
      <form action="/test" method="post" style="display: flex;">
        <div>
          <div  style="margin: 9px;">ID <input maxlength='13' type="text" name="name" placeholder="아이디를 입력하세요." required></div>
          <div>PW <input maxlength='13' type="text" name="result" placeholder="비밀번호를 입력하세요." required></div>
        </div>
        <button type="submit" style="margin: 10PX 0 0 10px; padding: 10px;">회원가입</button>
      </form>
    </div>

</body>
</html>